# C/C++ output
build/
*.o
*.obj
*.out
*.elf
*.d
*.a

# CppUTest framework
cpputest/
tests/*/objs/
tests/*/lib/
tests/*/*_tests

# Other
datasheets/

# KiCad
.history/
*.lck
*-backups/
fp-info-cache
*.kicad_prl
